.profile__container {
  margin: 5rem 20%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 30px;
}

.profile__container h2 {
  grid-column: 1 / span 2;
  text-align: center;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.profile__container div {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-weight: bold;
}

.profile__data {
  color: hotpink;
  font-size: 18px;
  font-weight: normal;
}